apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "dip-frontend.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  replicas: {{.Values.replicaCount}}
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "dip-frontend.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        app: {{ .Release.Name }}
    spec:
      {{- with .Values.securityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if and .Values.nginx.enabled (eq .Values.nginx.mountType "hostPath") }}
      volumes:
      - name: nginx-config
        hostPath:
          path: {{ .Values.nginx.hostPath }}
          type: File
      {{- else if and .Values.nginx.enabled (eq .Values.nginx.mountType "configMap") }}
      volumes:
      - name: nginx-config
        configMap:
          name: {{ .Values.nginx.configMapName }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: {{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          resources:
              requests:
                  cpu: {{ .Values.resources.requests.cpu }}
                  memory: {{ .Values.resources.requests.memory }}
              limits:
                  cpu: {{ .Values.resources.limits.cpu }}
                  memory: {{ .Values.resources.limits.memory }}
          {{- if and .Values.nginx.enabled (eq .Values.nginx.mountType "hostPath") }}
          volumeMounts:
          - name: nginx-config
            mountPath: /etc/nginx/conf.d/default.conf
            readOnly: true
          {{- else if and .Values.nginx.enabled (eq .Values.nginx.mountType "configMap") }}
          volumeMounts:
          - name: nginx-config
            mountPath: /etc/nginx/conf.d/default.conf
            readOnly: true
          {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
      {{- range .}}
        {{ .labelKey | quote }}: {{ .labelVal | quote }}
      {{- end }}
    {{- end }} 
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - {{ .Release.Name }}
              topologyKey: "kubernetes.io/hostname"

